@model Biblioteca0_0.Models.Libro

@{
    ViewData["Title"] = "Crear Libro";
}

<h1>Registrar Nuevo Libro</h1>

<div class="row">
    <div class="col-md-6">

        <form asp-controller="Libro" asp-action="register" method="post">
            
             <div class="form-group mb-3">
                <label asp-for="Codlibro" class="control-label">Codigo del Libro</label>
                <input asp-for="Codlibro" class="form-control" placeholder="Codigo de libro" />
                <span asp-validation-for="Codlibro" class="text-danger"></span>
            </div>

            <div class="form-group mb-3"> 
                <label asp-for="Titulo" class="control-label">Título del Libro</label>
                <input asp-for="Titulo" class="form-control" placeholder="Ej: Don Quijote" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Autor" class="control-label">Autor</label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Año" class="control-label">Año de Publicación</label>
                <input asp-for="Año" class="form-control" placeholder="AAAA" maxlength="4" />
                <span asp-validation-for="Año" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Genero" class="control-label">Genero</label>
                <input asp-for="Genero" type="text"  class="form-control" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar Libro</button>
                <a asp-action="register" class="btn btn-secondary">Volver al listado</a>
                
            </div>

            <a asp-controller="Libro" asp-action="buscar" class="btn btn-primary">
                    Buscar Libro
                </a> 

                  <a asp-controller="Prestamo" asp-action="register" class="btn btn-primary">
                    Préstamos
                </a> 
                  <a asp-controller="Devolucion" asp-action="register" class="btn btn-primary">
                    Devoluciones
                </a> 

            
        </form>
    </div>
</div>
<hr />
<h3>Libros Registrados</h3>

<a class="btn btn-warning" href="/Libro/GenerarPDF">
    Descargar PDF
</a>

<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in ViewBag.ListaLibros)
        {
            <tr>
                <td>@libro.Codlibro</td>
                <td>@libro.Titulo</td>
                <td>@libro.Autor</td>
                <td>@libro.Año</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
