@{
    ViewData["Title"] = "Home Page";
}
<style>
.cart-body {
    color: #1046cf;
}
.cart-div {
    color: #1046cf;
}
</style>
<body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
                <a asp-controller="Usuario" asp-action="Registro" class="btn btn-primary">
                    Registrarse ahora
                </a>
        </div>
     
</body>