@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
.cart-body {
    color: #1046cf;
}
.cart-div {
    color: #1046cf;
}
.cart-h1 {
    color text: #aae013;
}
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
